version: 2

notify:
  webhooks:
    - url: https://api.opsgenie.com/v1/json/circleci?apiKey=${OPSGENIE_API_KEY}
  branches:
    only:
      - master

references:
  filter_master: &filter_master
      filters:
        branches:
          only: master

  setup_build_tools: &setup_build_tools
    run:
     name: Install Rookout Build Tools
     command: |
       mkdir -p ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
       sudo apt-get install python-setuptools python-dev build-essential -qy
       sudo easy_install pip
       git clone git@github.com:Rookout/build_tools.git
       pip install -r build_tools/requirements.txt --user
       python build_tools/setup.py install --user

  setup_env_var: &setup_env_var
    run:
      command: |
        cat ~/docs/workspace/VERSION >> $BASH_ENV

  setup_workspace: &setup_workspace
    attach_workspace:
      at: ~/docs

jobs:
  up-version:
    working_directory: ~/docs
    docker:
      - image: circleci/python:2.7
    steps:
      - checkout
      - add_ssh_keys
      - *setup_build_tools
      - run: mkdir -p ~/docs/workspace
      - run:
          name: Creating new git tag
          command: python ~/docs/build_tools/rbt.py version get-next > ~/docs/workspace/VERSION
      - persist_to_workspace:
          root: .
          paths:
            - workspace/VERSION

  deploy-website:
    working_directory: ~/docs
    docker:
      - image: circleci/node:8.9.4
    steps:
      - checkout
      - add_ssh_keys
      - run:
          name: Deploying to Firebase Hosting
          command: |
            cd website
            yarn install
            yarn run lint
            yarn run generate-examples
            yarn run generate-integrations
            yarn run generate-sdk-digests
            yarn run build
            yarn run deploy-firebase

  release-notes:
    working_directory: ~/docs
    docker:
      - image: circleci/node:8.9.4
    steps:
      - checkout
      - add_ssh_keys
      - *setup_workspace
      - *setup_env_var
      - run:
          name: Publishing Release Notes
          command: |
            cd website
            yarn install
            yarn run publish-release-notes


workflows:
  version: 2
  build_and_deploy:
    jobs:
      - up-version:
          <<: *filter_master
      - deploy-website:
          requires:
            - up-version
          <<: *filter_master
      - release-notes:
          requires:
            - deploy-website
          <<: *filter_master
