aliases:
  - &filter-only-master
    branches:
      only:
        - master

version: 2
jobs:
  deploy-website:
    working_directory: ~/website
    docker:
      - image: circleci/node:8.9.4
    environment:
      USE_SSH: true    
    steps:
      - checkout
      - run:
          name: Deploying to GitHub Pages
          command: |
            yarn install
            yarn run lint
            GIT_USER=$GITHUB_USERNAME yarn run publish-gh-pages

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - deploy-website:
          filters: *filter-only-master
