/* "Copy" code block button */
pre {
    position: relative;
}

pre .btnIcon {
    position: absolute;
    top: 0;
    min-width: 90px;
    z-index: 2;
    cursor: pointer;
    padding: 7px;
    background-color: #533C92;
    color: white;
    transition: all .25s ease-out;
}

pre .btnIcon:hover {
    text-decoration: none;
    background-color: #9962FF;
}

pre .btnIcon:focus {
    outline: 0;
}

pre .btnIcon:active {
    -webkit-box-shadow: inset -2px 2px 31px 0px rgba(83, 60, 146 ,0.75);
    -moz-box-shadow: inset -2px 2px 31px 0px rgba(83, 60, 146 ,0.75);
    box-shadow: inset -2px 2px 31px 0px rgba(83, 60, 146 ,0.75);
}


.btnIcon__body {
    align-items: center;
    display: flex;
}

.btnIcon svg {
    fill: currentColor;
    margin-right: .4em;
}

.btnIcon__label {
    font-size: 13px;
    font-family: Roboto Mono, sans-serif;
}

.btnClipboard {
    right: 0;
}

