/* your custom css */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: $rookoutFont;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav-site li a {
    color: #FFF !important;
}

.nav-site li a:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.rook-projectLogo img {
    height: 75px;
}

.headerTitle {
    padding-left: 9px;
    padding-bottom: 7px;
    font-weight: bold;
}

.projectTitle small {
    margin: 0.7em 0 0.5em;
}

.homeWrapper {
    max-width: 650px;
}

.homeWrapper p {
    color: #2F3545;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.rook-homeMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFF;
}

.rook-categoriesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rook-categories {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1100px;
}

.rook-blockContent h2 {
    text-align: center !important;
    margin-top: 0 !important;
    padding: 0 !important;

    font-weight: normal;
    font-size: 20px;
}

.rook-paddingBottom {
    padding-bottom: 80px;
}

.rook-paddingTop {
    padding-top: 80px;
}

.rook-paddingBottomHalf {
    padding-bottom: 40px;
}

.rook-paddingTopHalf {
    padding-top: 40px;
}

.rook-paddingBottomTwoThird {
    padding-bottom: 60px;
}

.rook-paddingTopTwoThird {
    padding-top: 60px;
}

.rook-searchTitle h2{
    color: #3F4758;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

    margin-bottom: 10px;
}

.rook-searchBar input::placeholder {
    color: #DEE1E8;
    opacity: 1;
}

.rook-searchBar input {
    height: 38px;
    width: 480px;
    border: 1px solid #3F4758;
    border-radius: 19px;
    background-color: #FFFFFF;

    padding-left: 20px;
}

.rook-searchBar input:focus {
    outline: none;
}

.rook-searchBar img {
    height: 16px;
    width: 15px;

    position: relative;
    right: 30px;
    top: 4px;
}

.bold {
    font-weight: bold;
}


footer .rook-footer-logo {
    height: 93px;
    margin-right: 35px;
}

footer .sitemap {
    margin: 0 auto;
    align-items: center;
}

footer .sitemapLinksContainer {
    display: flex;
    flex-direction: column;
}

footer .sitemapLinks {
    display: block;
    line-height: 12px;
    color: #FFF;
}

footer .sitemapLinks a {
    color: #FFF;
}

footer .sitemapLinks a:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
}

footer .social {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

footer .social img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}


@media only screen and (max-device-width: 736px) {
    body {
        display: block;
    }

    .rook-categories {
        flex-direction: column;
        width: 100%;
    }

    .nav-site li a {
        background: #FFF;
        color: #9962FF !important;
    }

    .nav-site li a:hover {
        background: #9962FF;
        color: #FFF !important;

        text-decoration-line: underline;
        text-decoration-style: solid;
    }

    .nav-site li a.siteNavItemActive {
        background: #9962FF;
        color: #FFF !important;
    }

    .rook-searchContainer, .rook-searchBar input {
        width: 95%;
    }

    footer .sitemap {
        flex-direction: row;
        padding: 0 15px;
    }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
