/* your custom css */
/****** Fonts *******/
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxGIzIXKMnyrYk.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
/* latin */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 100;
src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxIIzIXKMny.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fChc4AMP6lbBP.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fChc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fChc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  /* latin-ext */
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v5/L0x5DF4xlVMF-BfR8bXMIjhFq3-cXbKDO1w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v5/L0x5DF4xlVMF-BfR8bXMIjhLq3-cXbKD.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Mono Medium'), local('RobotoMono-Medium'), url(https://fonts.gstatic.com/s/robotomono/v5/L0xkDF4xlVMF-BfR8bXMIjC4iGq_f7-pAVU_Lrg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Mono Medium'), local('RobotoMono-Medium'), url(https://fonts.gstatic.com/s/robotomono/v5/L0xkDF4xlVMF-BfR8bXMIjC4iGqxf7-pAVU_.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url(https://fonts.gstatic.com/s/robotomono/v5/L0xkDF4xlVMF-BfR8bXMIjDwjmq_f7-pAVU_Lrg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url(https://fonts.gstatic.com/s/robotomono/v5/L0xkDF4xlVMF-BfR8bXMIjDwjmqxf7-pAVU_.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* Common Styling */

/* Tabs Component */

div.tab-container {
    min-width: 50%;
    max-width: 100%;
    padding: 10px 10px;
    margin: 0 auto;
}

div.tab-content {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

input.tab-button {
    display: none;
}

label.tab-title {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

label:hover {
    color: #888;
    cursor: pointer;
}

input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid #533C92;
    border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7,
#tab8:checked ~ #content8{
    display: block;
}

@media screen and (max-width: 650px) {
    label {
        font-size: 0;
    }
    label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    label {
        padding: 15px;
    }
}

/* Sticky Footer */
.navWrapper.wrapper {
    min-height: 72%;
}
/* --Sticky Footer */

body, div, span, input, p, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

pre code, [class*="hljs"]  {
    font-family: Roboto Mono, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bold {
    font-weight: bold;
}

.nav-site li a {
    font-weight: normal !important;
}


/* Table Styling */

table {
    border-style: none;
}

thead {
    border-bottom: 2px solid #533C92 !important;
}

tr, th, td {
    background: #F8F8F8;
    border-style: none !important;
}

.table-integration thead {
    border-bottom: 0 !important;
}


/* HomePage Styling */

.rook-projectLogo img {
    height: 75px;
}

.headerWrapper {
    padding-left: 175px;
}

.headerTitle {
    padding-left: 30px;
    padding-bottom: 0px;
    font-weight: bold;
}

.projectTitle small {
    margin: 0.7em 0 0.5em;
}

.homeWrapper {
    max-width: 650px;
}

.homeWrapper p {
    color: #2F3545;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.rook-gettingStartedContainer {
    display: flex;
    flex-direction: column;
    background: #FFF;
}

.rook-homeMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFF;
}

.rook-categoriesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rook-categories {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    max-width: 1100px;
}

.hoverable {
    transition: .5s ease;
}

.hoverable:hover {
    opacity: 0.6;
}

.rook-blockContent h2 {
    text-align: center !important;
    margin-top: 0 !important;
    padding: 0 !important;

    font-weight: normal;
    font-size: 20px;
}

.rook-paddingBottom {
    padding-bottom: 80px;
}

.rook-paddingTop {
    padding-top: 80px;
}

.rook-paddingBottomHalf {
    padding-bottom: 40px;
}

.rook-paddingTopHalf {
    padding-top: 40px;
}

.rook-paddingBottomTwoThird {
    padding-bottom: 60px;
}

.rook-paddingTopTwoThird {
    padding-top: 60px;
}

.rook-searchTitle h2{
    color: #3F4758;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

    margin-bottom: 10px;
}

.rook-searchBar input::placeholder {
    color: #DEE1E8;
    opacity: 1;
}

.rook-searchBar input.borderize {
    border: 1px solid #343B49 !important;
}

.rook-searchBar input {
    height: 38px;
    width: 480px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 0px 0.5px 0.5px rgba(52, 59, 73, 0.15);
    border-radius: 19px;
    background-color: #FFFFFF;

    padding-left: 20px;
}

.rook-searchBar input:focus {
    outline: none;
}

.rook-searchBar img {
    height: 16px;
    width: 15px;

    position: relative;
    right: 30px;
    top: 27px;
}

/* Docs Styling */

article p img {
    margin: 0;
}

article  h1 {
    font-size: 30px !important;
    margin-top: 10px !important;
}

article  h2 {
    font-size: 20px !important;
}

article  h3 {
    font-size: 16px !important;
    color: #000000 !important;
    font-weight: bold !important;
}

article  h4 {
    font-size: 14px !important;
    color: #000000 !important;
    font-weight: bold !important;
}

.rook-searchBar.rook-docNav input {
    width: 224px;
}

.rook-searchBar.rook-docNav {
    margin-bottom: 30px;
    margin-top: 0px;
}

.docMainWrapper {
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0 !important;
}

.docMainWrapper > .mainContainer {
    padding-bottom: 50px;
}

.docsNavContainer {
    margin-top: 0 !important;
    background: #F1F1F1;

    padding: 30px 30px;
    flex: 0 0 330px !important;
}

.navWrapper.wrapper, .navGroup, .navGroup > h3 {
    background: #F1F1F1 !important;
}

.postHeader > h1 {
    font-size: 30px !important;
    margin-top: 10px !important;
}

.navGroup > h3 {
    color: #3F4758 !important;
}

.navGroup > ul {
    padding-top: 4px !important;
}

.navListItem > a.navItem {
    color: #7C8390 !important;
    font-size: 14px !important;
    padding-top: 6x !important;
}

.navListItem > a.navItemActive {
    color: #533C92 !important;
    font-size: 14px !important;
    padding-top: 5px !important;
}

.post {
    font-size: 0.8em;
}


/* Footer */

footer.nav-footer {
    box-shadow: none;
}

footer .rook-footer-logo {
    height: 93px;
    margin-right: 35px;
}

footer .sitemap {
    margin: 0 auto;
    align-items: center;
}

footer .sitemapLinksContainer {
    display: flex;
    flex-direction: column;
}

footer .sitemapLinks {
    display: block;
    line-height: 12px;
    color: #FFF;
}

footer .sitemapLinks a {
    color: #FFF;
}

footer .sitemapLinks a:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
}

footer .social {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

footer .social img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

/* Troubleshooting Page */

.rook-troubleshootingContainer {
    padding-bottom: 50px;
}

.rook-collapsibleContainer {
    width: 50%;
}

/* Collapsible Component */

.wrap-collapsible {
    margin-bottom: 1.2em;
    font-size: 0.8em;
}

.wrap-collapsible > input[type='checkbox'] {
    display: none;
}

.lbl-toggle {
    display: block;

    font-weight: bold;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: left;

    padding: 0.5rem;

    color: #533C92;
    border-bottom: 1px solid #9962FF;

    cursor: pointer;

    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
    color: #3F4758;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
    background: rgba(241, 241, 241, .2);
    border-bottom: 1px solid #9962FF;

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.collapsible-content {
     max-height: 0;
     overflow: hidden;

     transition: max-height .25s ease-in-out;
 }

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: initial;
}

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.docsNavContainer {
    overflow-y: visible !important;
}


.banner-supported {
    width: 100%;
    display: flex;
    align-items: center;
}

.banner-supported span {
    color: grey;
}



@media only screen and (max-width: 736px) {
    body {
        display: block;
    }

    .logo {
        display: block;
    }

    .headerTitle {
        font-size: 1.2em;
    }

    .rook-categories {
        flex-direction: column;
    }

    nav.toc {
        width: 100%;
    }

    .nav-site li a {
        background: #FFF;
        color: #9962FF !important;
    }

    .nav-site li a:hover {
        background: #9962FF;
        color: #FFF !important;

        text-decoration-line: underline;
        text-decoration-style: solid;
    }

    .nav-site li.siteNavItemActive a {
        background: #9962FF;
        color: #FFF !important;
    }

    .nav-site {
        border-bottom: 1px solid #533C92;
    }

    .navBreadcrumb.wrapper {
        top: 101px;
        background: #533C92 !important;
    }

    .navBreadcrumb.wrapper * {
        color: white !important;
    }

    .navToggle::before, .navToggle::after {
        border-color: white !important;
    }

    .rook-searchContainer, .rook-searchBar input {
        width: 95% !important;
    }

    .algolia-autocomplete {
        width: 95%;
        text-align: center;
    }

    .rook-searchBar.rook-docNav {
        display: none;
    }

    .docsSliderActive .rook-searchBar.rook-docNav {
        display: block;
        text-align: center;

        margin: 50px 0 0 0;
    }

    .rook-searchBar.rook-docNav input {
        width: 100% !important;
    }

    .rook-searchBar.rook-docNav img {
        position: absolute;
        right: 25px;
        top: 10px;
    }

    .docsNavContainer {
        padding: 0;
    }

    .rook-collapsibleContainer {
        width: 100%;
    }

    .post {
        padding: 0 15px;
    }

    footer .sitemap {
        flex-direction: column;
        padding: 0 15px;
    }

    footer .sitemap div {
        flex: none;
    }

    footer .social {
        margin-top: 20px;
        align-self: center;
    }

    footer .sitemap > a > img {
        display: none;
    }
}

@media only screen and (min-width: 736px) and (max-width: 940px) {
    header .headerTitle {
        display: none !important;
    }
}

@media only screen and (max-width: 1023px) {

}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

/* design for tutorial button (originally from https://github.com/facebook/Docusaurus/blob/2c74d937607fcd84677be5d6990ca2a3b4ba8d7a/lib/static/css/main.css#L576) */
.tutorial-button {
    margin: 4px;
    border: 1px solid $primaryColor;
    border-radius: 3px;
    color: $primaryColor;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2em;
    padding-top: 0px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 0px
    text-transform: uppercase;
    text-decoration: none !important;
    transition: background 0.3s, color 0.3s;
}

.tutorial-button:hover {
    transition: transform .2s;
    transform: scale(1.1);
}

